<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Awesome Tech Blog</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <header class="flex">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <h1 class="has-text-black px-3 py-3 has-text-weight-bold">Awesome Tech Blog: a tech blog</h1>
            </div>

            <div id="navbarBasicExample" class="blog-navbar-menu">
                {{#if loggedIn}}
                <div class="navbar-start">
                    <a class="navbar-item" href="/">Home</a>
                    <a class="navbar-item" href="/dashboard">Dashboard</a>
                    <a class="navbar-item" href="/dashboard/create/">Create Post</a>
                    <a id="logout" class="button is-danger">Logout</a>
                {{else}}
                    <a class="button is-primary" href="/signup">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" href="/login">Log in</a>
                </div>
                {{/if}}
            </div>
        </nav>
    </header>

    <main>{{{ body }}}</main>

    <footer></footer>
    {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>