<div class="column">
    <form class="signup-form">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Username:</label>
            </div>
            <div class="field-body">
                <div class="field">
                <p class="control">
                    <input id="username-signup" class="input" type="text">
                </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Email:</label>
            </div>
            <div class="field-body">
                <div class="field">
                <p class="control">
                    <input id="email-signup" class="input" type="text">
                </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Github:</label>
            </div>
            <div class="field-body">
                <div class="field">
                <p class="control">
                    <input id="github-signup" class="input" type="text">
                </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Password:</label>
            </div>
            <div class="field-body">
                <div class="field">
                <p class="control">
                    <input type="password" id="password-signup" class="input">
                </p>
                </div>
            </div>
        </div>
        <div class="buttons is-centered">
            <button type="submit" class="button is-primary">Sign Up</button>
        </div>
    </form>
</div>

<!-- javascript file-->
<script src="/javascript/signup.js"></script>